body {
    font-family: 'Poppins', sans-serif;

}

.overlay::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.85;
    z-index: 0;
}

.slider-content {
    z-index: 1;
    top: 50%;
    bottom: 0%;
    right: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.instructor {
    background-color: #F4FAFD;
}